node_modules/
.next/
out/
dist/

.idea/
.vscode/

*.log
.dev-*.log

.DS_Store
Thumbs.db

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

ruvector.db
.vercel
tsconfig.tsbuildinfo
